rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /models/users/{userId}/{modelId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /needPublish/{modelId} {
      allow create: if request.auth != null;
      allow read, delete: if request.auth != null && request.auth.token.role == 'admin' || request.auth.token.role == 'manager';
    }
    match /publicStorySteps/{stepId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.token.role == 'admin' || request.auth.token.role == 'manager';
    }
    match /userStorySteps/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
		match /publicStoryStepModels/{path=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.token.role == 'admin' || request.auth.token.role == 'manager';
    }
    match /userStoryStepModels/{path=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
