body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: "100%";
  background: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-divider-horizontal.ant-divider-with-text {
  margin: 4px 0;
  font-size: 14px;
}

.ant-pagination {
  padding-bottom: 20px;
}

.ant-upload-list {
  display: flex;
  justify-content: center;
}

.ant-upload.ant-upload-select-picture-card {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

.ant-upload-list-picture-card-container {
  width: 300px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

.ant-upload-list-picture-card .ant-upload-list-item-thumbnail {
  line-height: 260px;
}

.ant-upload-list-picture-card .ant-upload-list-item {
  padding: 0px;
}

.shadow {
  border-color: transparent;
  box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f, 0 5px 12px 4px #00000017;
}

#root {
  height: 100% !important;
}

.ant-layout {
  height: 100% !important;
}

.full-height {
  display: flex;
  height: 100% !important;  
}

.full-center {
  display: flex;
  height: 100% !important;
  width: 100% !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content {
  height: 100% !important;
  padding: 20px;
  padding-top: 10px;
}

#app {
  height: 100% !important;
}

#header {
  align-items: center;
  background-color: #00152912;
}

#header-title {
  padding-top: 6px;
}

#main-menu {
  justify-content: center;
  background: none;
}

.alert-container { 
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loaded-image {
  display: block;
}

.unloaded-image {
  display: none;
  width: 0px;
  height: 0px;
}

.models-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.models-card {
  margin: 10px;
}

.models-card-description {
  padding: 10px;  
}

.selected-big-card {
  background-color: seagreen;
  color: white !important;
}

.selected-big-card-image {
  border: 10px solid seagreen;
}

.step-block {
  min-height: 800px;
  border: 1px solid darkgray;
  padding: 10px;
  padding-top: 0px;
}

.step-block-models {
  display: flex;
  flex-wrap: wrap;
  min-height: 165px;
  padding-bottom: 5px;
}

.step-models-card {
  margin: 4px;
}

.step-models-card-panel {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  margin-top: -154px;
  padding-left: 3px;
  padding-right: 3px;
}

.step-models-card-arrows {
  cursor: pointer;
}

.step-models-card-arrows .anticon {
  padding: 2px;
}

.step-models-card-close {
  cursor: pointer;  
}

.models-placeholder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff4d4f;
  color: #ff4d4f;
}

.cursor-pointer {
  cursor: pointer;
}

.always {
  margin-top: -4px;
}

.form-submit-div {
  margin: 5px;
  margin-bottom: 13px;
  display: flex;
  justify-content: center;
}

.input {
  margin-bottom: 10px;
}

.ipload-image {
  margin-top: 19px;
}

.step-block-message {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  min-height: 700px;
}

.step-image {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: rgba(190, 190, 190, 0.2);
}

.link {
  cursor: pointer;
}

.red-text {
  color: 'red' !important;
}

.edit-step-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.delete-icon {
  margin-top: 15px;
  font-size: 20px;
  color: red;
  cursor: pointer;
}

.delete-icon-disabled {
  margin-top: 15px;
  font-size: 20px;
  color: lightgrey;
  cursor: default;
}